<template>

  <v-card>
    <v-card-title>
      <div class="display-1 font-weight-bold">Ключевые слова</div>
      <v-spacer></v-spacer>
      <v-btn fab small color="green">
        <v-icon>add</v-icon>
      </v-btn>
    </v-card-title>

  </v-card>

</template>

<script>

  export default {
    name: 'listKeywords',
    computed: {
      keywords() {
        return this.$state.getters.keywords
      }
    },
    mounted() {
      this.$store.dispatch('loadKeywords')
    }
  }

</script>

<style>
</style>
