import MuseUI from 'muse-ui;

<template>
    <mu-appbar style="width: 100%;" color="primary">
    <mu-button icon slot="left" v-on="onclick(login)">
    <mu-icon value="menu"></mu-icon>
    </mu-button>
    Title
    <mu-button flat slot="right">LOGIN</mu-button>
</mu-appbar>
</template>


<script>
export default {
    name: 'Menu',
    methods:{
        login(){
            alert("sdasdsadsad")
        }
    }
}
</script>