<template>
 <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Чат-бот</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Чаты<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Сценарии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Реплики</a>
          </li>
        </ul>
      </div>
    </nav>
    <form>
      <div class="row">
          <div class="col">
              <div class="form-group">
                <label for="name">Название</label>
                <input type="text" class="form-control" v-model="DialogStore.name" id="name" placeholder="Введите название">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="number_steps">Число шагов</label>
                <input type="text" class="form-control" v-model="DialogStore.number_steps" id="number_steps" placeholder="Введите число шагов">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="key_word">Ключевые слова</label>
                <input type="text" class="form-control" v-model="DialogStore.key_word" id="key_word" placeholder="Введите ключевые слова">
              </div>
          </div>
      </div>
      <div class="row align-items-end">
          <div class="col-lg-8">
              <div class="form-group">
                <label for="description">Описание</label>
                <input type="text" class="form-control" v-model="DialogStore.description" id="description" placeholder="Введите описание">
              </div>
          </div>
          <div class="col">
              <div id="add_button">
                <button type="button" class="btn btn-dark" @click="put_scenary">Добавить сценарий</button>
              </div>
          </div>
      </div>

    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Описание</th>
          <th scope="col">Количество шагов</th>
          <th scope="col">Ключевые слова</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="lis in lists">
          <td>{{lis.name}}</td>
          <td>{{ lis.description}}</td>
          <td> {{lis.number_steps}}</td>
          <td> {{lis.key_word}}</td>
        </tr>
      </tbody>
    </table>
    <div id="websocket">
        <button @onclick="webs">SOCKET</button>
    </div>

 </div>

</template>



<script>
import {store} from '../../app/store.js';
export default {
    name:"scenary",
    store,
    data(){
        return{DialogStore: this.$store.state.newDialog}

    },
    computed:{
        lists () {
            return this.$store.getters.dialogs
        }
    },
    methods: {
        put_scenary(){
            this.$store.dispatch('addDialog', this.DialogStore)
        }

    },
    created(){
         this.$store.dispatch('loadDialogs')

}
</script>
<style>
#add_button {
    margin-top: 10px;
    margin-left: 40px;
}
</style>

