<template>

  <div>
    <v-layout row wrap>
      <v-flex xs3 class="menu">
        <v-card>
          <v-list two-line>
            <div class="item" v-for="item in menuItems">
              <v-list-tile @click="routerPush(item.route)">
                <v-list-tile-action>
                  <v-icon color="secondary"> {{item.icon}}</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>{{item.name}}</v-list-tile-title>
              </v-list-tile>
              <v-divider inset></v-divider>
            </div>
          </v-list>
        </v-card>
      </v-flex>
      <v-flex xs8 offset-xs1 class="term">
        <v-card>
          <router-view />
        </v-card>
      </v-flex>
    </v-layout>
  </div>

</template>

<script>

  export default {
    name: 'adminPage',
    data() {
      return {
        menuItems: [
          {name: 'Назад', route: 'mainPage', icon:'arrow_back_ios'},
          {name: 'Сценарии', route: 'scenarios', icon:'description'},
          {name: 'Чаты', route: 'chats', icon:''},
          // {name: 'Ключевые слова', route: 'keywords', icon:''},
          {name: 'Реплики', route: 'replics', icon:''},
          {name: 'Дополнительно', route: 'extensions', icon:'settings'},
          // {name: '', route: '', icon},
        ],
      }
    },
    methods: {
      routerPush(route) {
        this.$router.push({ name: route })
      }
    },
    mounted() {
      this.$router.push({ name: 'lastMessages' })
    }
  }

</script>

<style lang="sass">

  .menu
    margin-top: 6%
    padding-left: 4%

  .menu > .v-list
    /* border: 1px solid #4caf50; */
    border-radius: 3px
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */

  .term
    margin-top: 6%

  .term > .v-card
    width: 98%

  .item:last-child
    .v-divider
      display: none

</style>
