<template>

  <v-layout column>
    <v-flex xs12 sm10 order-xs2 style="position:relative;">
      <div class="chat-container" v-on:scroll="onScroll" ref="chatContainer">
        <message :messages="messages" :username='username'></message>
      </div>
    </v-flex>
    <v-flex xs12 sm6>
      <v-text-field label="Сообщение" outline
                    v-on:keyup.enter="sendMessage"
                    v-model="content"
                    autofocus></v-text-field>
    </v-flex>

  </v-layout>

</template>
<script>

  import axios from 'axios'
  import MessageChat from './MessageChat'
  export default {
    name: 'chatwin',
    components: {
      message: MessageChat
     },
    data: () => ({
      content: '',
      currentRef: {},
      totalChatHeight: 0,
      username: '',
      loading: false,
      chatMessages: [],
      id_user: '2'
    }),
    mounted() {
      this.$options.sockets.onmessage = data => {
        this.$refs.chatContainer.scrollTop = this.$refs.chatContainer.scrollHeight + 400
      }
      this.username = this.$store.state.auth.username
      this.chatMessages = this.$store.state.socket.messagesList
    },
    computed: {
      messages() {
        return this.chatMessages
      },
      websock_mess() {
        return this.$store.state.message
      }
    },
    methods: {
      scrollToEnd() {
        this.$nextTick(() => {
          var container = this.$el.querySelector('.chat-container')
          container.scrollTop = container.scrollHeight
        })
      },
      sendMessage() {
        this.$store.dispatch('sendMessage', this.content).then(() => {this.content = ''})
      },
      onScroll() {
        let scrollValue = this.$refs.chatContainer.scrollTop
        const that = this
        if (scrollValue < 100 && !this.loading) {
          this.totalChatHeight = this.$refs.chatContainer.scrollHeight
          this.loading = true
          let currentTopMessage = this.chatMessages[0]
          if (currentTopMessage === undefined) {
            this.loading = false
          }
        }
      }
    }
  }

</script>
<style>

  .scrollable {
    overflow-y: auto;
    height: 40vh;
  }
  .typer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 4.9rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .typer input[type='text'] {
    position: absolute;
    left: 2.5rem;
    padding: 1rem;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
  }
  .chat-container {
    box-sizing: border-box;
    height: calc(100vh - 9.5rem);
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
  }
  .message {
    margin-bottom: 3px;
  }
  .message.own {
    text-align: right;
  }
  .message.own .content {
    background-color: lightskyblue;
  }
  .chat-container .username {
    font-size: 18px;
    font-weight: bold;
  }
  .chat-container .content {
    padding: 8px;
    background-color: lightgreen;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    max-width: 40%;
    word-wrap: break-word;
  }
  @media (max-width: 380px) {
    .chat-container .content {
      max-width: 40%;
    }
  }

</style>
