<template>

  <v-card dark color="primary">

    <div class="title">
      <h3>Войдите для старта чата</h3>
    </div>

    <form id="form" v-if="state == 'login'">
      <v-text-field v-model="name"
                    :error-messages="nameErrors"
                    :counter="32"
                    label="Логин"
                    required
                    @input="$v.name.$touch()"
                    @blur="$v.name.$touch()"></v-text-field>
      <v-text-field v-model="password"
                    :error-messages="passwordErrors"
                    label="Пароль"
                    required
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                    :append-icon="show1 ? 'visibility_off' : 'visibility'"
                    :type="show1 ? 'text' : 'password'"
                    hint="Не менее 8 символов"
                    counter
                    @click:append="show1 = !show1"></v-text-field>
      <br>
      <br>
      <v-btn color="secondary" @click="submit" block>ВОЙТИ</v-btn>
      <v-btn color="secondary" @click="createUser" block>СОЗДАТЬ ЮЗЕРА</v-btn>
    </form>

  </v-card>

</template>

<script>

  import { validationMixin } from 'vuelidate'
  import { required, maxLength, email } from 'vuelidate/lib/validators'

  const axios = require('axios')

  export default {
    mixins: [validationMixin],

    validations: {
      name: { required, maxLength: maxLength(32) },
      password: { required }
    },

    computed: {
      nameErrors() {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.maxLength && errors.push('Логин должен быть длиннее 6 символов')
        !this.$v.name.required && errors.push('Заполните это поле')
        return errors
      },
      passwordErrors() {
        const errors = []
        if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push('Заполните это поле')
        return errors
      }
    },

    data() {
      return {
        name: '',
        password: '',
        show1: false,
        state: 'login'
      }
    },
    methods: {
      submit() {
        var bodyFormData = new FormData()
        bodyFormData.append('username', this.name)
        bodyFormData.append('password', this.password)

        this.$store.dispatch('login', bodyFormData)
        this.$store.commit('SET_USERNAME_BLYAT', this.name)
      },
      createUser() {
        var bodyFormData = new FormData()
        bodyFormData.append('username', this.name)
        bodyFormData.append('password', this.password)
        axios({
          method: 'post',
          url: 'http://127.0.0.1:8000/auth/users/create/',
          headers: { 'Content-Type': 'multipart/form-data' },
          data: bodyFormData
        })
      }
    }
  }

</script>

<style scoped>

  #form {
    padding: 0px 25px 25px 25px;
  }

  .title {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }

</style>
