<template>

  <v-container style="padding-bottom: 0px">
    <v-layout>

      <v-flex xs9 offset-lg2>
        <chat-window />
      </v-flex>

    </v-layout>
  </v-container>

</template>

<script>

  import ChatWindow from './ChatWindow'
  export default {
    components: {
      'chat-window': ChatWindow
    },
    data: () => ({}),
    methods: {}
  }

</script>

<style>

  .v-btn--floating .v-btn__content {
    height: auto;
  }

</style>
