<template>

  <div>
    <div class="message"
         v-bind:key='index'
         v-for="(message,index) in messages"
         :class="{own: message.author == username}">

      <div class="username">{{message.author}}</div>

      <div style="margin-top: 5px"></div>
      <div class="content">
        <div>{{message.content}}</div>
      </div>
    </div>
  </div>

</template>

<script>

  export default {
    data() {
      return {}
    },
    props: ['messages', 'username'],
    methods: {}
  }

</script>

<style>

</style>
