<template>

  <v-card>
    <v-img height="65px"
           gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
           :src="require('@/assets/9.jpg')">
      <v-card-title>
        <div class="display-1 white--text font-weight-bold">Последние сообщения</div>
        <v-spacer></v-spacer>

      </v-card-title>
    </v-img>

    <v-list two-line>
      <template v-for="(item, index) in lastMessages">
                      <v-list-tile
                              :key="item.title"
                              avatar
                              ripple
                              @click="toggle(index)"
                      >
                          <v-list-tile-content>
                              <v-list-tile-title>{{ item.id_user }}</v-list-tile-title>
                              <v-list-tile-sub-title class="text--primary">{{ item.text }}</v-list-tile-sub-title>
                          </v-list-tile-content>

                          <v-list-tile-action>
                              <v-list-tile-action-text>{{ item.date }}</v-list-tile-action-text>
                              <v-icon
                                      v-if="item.analyzeResult == 'equal'"
                                      color="grey"
                              >
                                  sentiment_satisfied
                              </v-icon>
                              <v-icon
                                      v-else-if="item.analyzeResult == 'less'"
                                      color="red"
                              >
                                  sentiment_dissatisfied
                              </v-icon>
                              <v-icon
                                      v-else-if="item.analyzeResult == 'more'"
                                      color="green"
                              >
                                  sentiment_very_satisfied
                              </v-icon>
                          </v-list-tile-action>

                      </v-list-tile>
                      <v-divider></v-divider>
                  </template>
    </v-list>
  </v-card>

</template>

<script>
const moment = require('moment')
const axios = require('axios')
import ip_address from '../../ip_address';

  export default {
    name: 'listLastMessages',
    computed: {
      lastMessages() {
        var lastMessages = this.$store.getters.lastMessages.reverse().slice(0,19)
        lastMessages.forEach((el, index, arr) => {
          axios({
            method: 'get',
            url: 'http://' + ip_address() + '/api/sentimentAnalis/' + el.id,
            headers: {
              'Authorization': 'Token ' + this.$store.state.auth.token
            }
          }).then((response) => {
            if (response.data.result == 0.0) {
              el['analyzeResult'] = 'equal'
            } else if (response.data.result < 0.0) {
                el['analyzeResult'] = 'less'
            } else if (response.data.result > 0.0) {
                el['analyzeResult'] = 'more'
            }
          }).catch((error) => {
            el['analyzeResult'] = 'empty'
          })
        })
        return lastMessages
      }
    },
    data() {
      return {
        selected: [5, 4, 3, 6, 2],
      }
    },
    methods: {
      toggle(index) {
        const i = this.selected.indexOf(index)

        if (i > -1) {
          this.selected.splice(i, 1)
        } else {
          this.selected.push(index)
        }
      }
    },
    mounted() {
      this.$store.dispatch('loadLastMessages')
      setTimeout(() => {
        this.$forceUpdate();
      }, 1000)
    }
  }

</script>

<style>
</style>
