<template>

  <v-card>

    <v-card-title class="headline grey lighten-2"> Добавление сценария </v-card-title>
    <v-card-text>
      <v-container>
        <v-layout flex wrap row>
          <v-flex xs12>
            <v-text-field v-model="name" label="Название" />
          </v-flex>
          <v-flex xs12>
            <v-textarea outline v-model="description" label="Описание" />
          </v-flex>
        </v-layout>
      </v-container>

      <v-divider />

      <v-layout flex wrap row>
        <v-flex xs12 row>
          <v-card-title>
            Ключевые слова
            <v-spacer />
            <div class="text-xs">
              <v-chip @click="addKeywordState = !addKeywordState">Добавить</v-chip>
            </div>
          </v-card-title>
        </v-flex>

        <v-layout v-if="addKeywordState">
          <v-text-field row placeholder="Введите слово..." v-model="newKeyword" />
          <v-btn @click="addKeyword"> Добавить </v-btn>
        </v-layout>

        <v-flex xs12>
          <v-layout style="display: block">
            <div v-for="(word, index) in keywords" :key="index">
              <v-chip @input="removeKeyword(index)" close> {{word.name}} </v-chip>
            </div>
          </v-layout>
        </v-flex>

      </v-layout>

      <v-divider />

      <v-layout flex wrap row>
        <v-flex xs12>
          <v-card-title>
            Шаги
            <v-spacer />
            <v-btn fab small color="red" @click="removeStep">
              <v-icon>remove</v-icon>
            </v-btn>
            <v-btn fab small color="green" @click="addStep">
              <v-icon>add</v-icon>
            </v-btn>
          </v-card-title>
        </v-flex>

        <v-flex xs12>
          <v-flex xs12 v-for="(step, index) in steps" :key="index">
            <v-text-field v-model="step.name" placeholder="Введите шаг.." />
          </v-flex>
        </v-flex>

      </v-layout>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="$emit('cancel')">Отмена</v-btn>
      <v-btn @click="saveScenary">Сохранить</v-btn>
    </v-card-actions>
  </v-card>

</template>
<script>

  const axios = require('axios')
  import ip_address from '@/ip_address.js'

  export default {
    data() {
      return {
        urlMedia: 'http://' + ip_address(),
        addKeywordState: false,
        newKeyword: '',
        name: '',
        description: '',
        keywords: [],
        steps: []
      }
    },
    methods: {
      saveScenary() {
        var data = new FormData()

        data.append('name', this.name)
        data.append('description', this.description)
        data.append('number_steps', this.steps.length)
        data.append('steps', JSON.stringify(this.steps))
        data.append('keywords', JSON.stringify(this.keywords))
        this.$store.dispatch('saveScenary', data)
        this.$emit('cancel')
      },
      addStep() {
        this.$emit('close')
        this.steps.push({
          name: '',
          number_sent: this.steps.length
        })
      },
      removeStep() {
        this.steps.pop()
      },
      addKeyword() {
        this.keywords.push({ name: this.newKeyword })
        this.newKeyword = ''
        this.addKeywordState = false
      },
      removeKeyword(index) {
        this.keywords.splice(index, 1)
      }
    }
  }

</script>

<style> </style>
