<template>

  <div>
    <v-card>
      <v-img height="65px"
             gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
             :src="require('@/assets/1.jpg')">
        <v-card-title>
          <div class="display-1 white--text font-weight-bold">Сценарии бесед</div>
          <v-spacer></v-spacer>
          <v-btn fab small color="green" @click="dialog = true">
            <v-icon>add</v-icon>
          </v-btn>

        </v-card-title>
      </v-img>

      <v-data-iterator :items="dialogs"
                       item-key="name"
                       :rows-per-page-items="rowsPerPageItems"
                       :expand="expand"
                       row
                       class="scenario-iter">
        <template v-slot:item="props">
                    <v-flex xs12 class="scenario">
                        <v-card >
                            <v-card-title>
                                <h4>{{ props.item.name }}</h4>
                                <v-spacer></v-spacer>
                                <v-switch
                                        v-model="props.expanded"
                                        :label="(props.expanded) ? 'Закрыть' : 'Развернуть'"
                                        color="primary"
                                        value="primary"
                                        class="switch-scenario"
                                ></v-switch>
                            </v-card-title>

                            <v-card-title class="scenario-title">

                                   <v-flex xs8>
                                       <h4>Описание: <br/></h4>
                                       {{props.item.description}}
                                   </v-flex>
                                   <v-flex offset-xs1 xs2>
                                       <v-btn flat icon color="primary">
                                           <v-icon>edit</v-icon>
                                       </v-btn>
                                   </v-flex>

                            </v-card-title>
                            <v-divider></v-divider>
                            <v-list v-if="props.expanded" dense>
                              <v-list-tile v-for="(replica, index) in props.item.replics" :key="index">
                                <v-list-tile-content>{{replica.text}}</v-list-tile-content>
                              </v-list-tile>
                            </v-list>
                        </v-card>
                    </v-flex>

                  </template>
      </v-data-iterator>
    </v-card>

    <v-dialog v-model="dialog" width="500">
      <addScenaryDialog v-on:cancel="dialog = false" v-on:close="scenaryCreated"></addScenaryDialog>
    </v-dialog>
  </div>

</template>
<script>

  import AddScenaryDialog from './AddScenaryDialog';
  import ip_address from '../../ip_address';
  const axios = require('axios')
  export default {
    name: 'scenary',
    components: {
      addScenaryDialog: AddScenaryDialog
    },
    computed: {
      dialogs() {
        return this.$store.getters.dialogs
      }
    },
    data() {
      return {
        dialog: false,
        expand: false,
        rowsPerPageItems: [4, 8, 12],
        pagination: {
          rowsPerPage: 4
        },
        dialogue: []
      }
    },
    methods: {
      scenaryCreated() {
        this.$store.dispatch('loadDialogs')
      },
      // itemHaveAReplics(item) {
      //   console.log('itemHaveAReplics')
      //   console.log(item)
      //   return true
      //   if (Array.isArray(item.replics)) {
      //     return true
      //   }
      //   return false
      // }
    },
    mounted() {
      this.$store.dispatch('loadDialogs')
    }
  }

</script>
<style>

  .menu {
    margin-top: 6%;
    padding-left: 4%;
  }

  .menu > .v-list {
    /* border: 1px solid #4caf50; */
    border-radius: 3px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
  }

  .term {
    margin-top: 6%;
  }
  .term > .v-card {
    width: 98%;
  }

  .scenario-iter {
    width: 100%;
    margin-top: 4%;
  }
  .scenario {
    margin-bottom: 12px;
    margin-left: 6%;
    margin-right: 6%;
  }
  .scenario .switch-scenario {
    position: absolute;
    right: 10px;
  }
  .scenario-title .xs2 {
    margin-top: 2%;
  }

</style>
