<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" id="app">
    {% verbatim %}
        <div><router-view></router-view></div>
    {% endverbatim %}
</div>

</body>
<script src="../static/src/dist/app.js"></script>

</html>