<template>

  <v-app>
    <v-toolbar app color="primary">
      <v-toolbar-title class="headline text-uppercase">
        <span>Psi</span>
        <span class="font-weight-light">ON</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <span> {{this.$store.state.auth.username}}  </span>
      <v-btn flat style="height: 100%" @click="goAdminPage" v-if="iAmAdmin">Настройка</v-btn>
      <v-btn color="secondary" v-on:click="logout"> <span>Выйти</span> </v-btn>
    </v-toolbar>

    <v-dialog v-model="userAuthorized" width="500" persistent>
      <v-card>
        <loginView v-if="loginAdmin"></loginView>
      </v-card>
    </v-dialog>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>

</template>

<script>

  import LoginView from './components/LoginView.vue'
  import ip_address from '@/ip_address'

  const axios = require('axios')

  export default {
    name: 'App',
    components: {
      loginView: LoginView
    },
    computed: {
      userAuthorized() {
        return !this.$store.state.auth.authorized
      }
    },
    data() {
      return {
        loginDialog: true,
        loginAdmin: true,
        iAmAdmin: false
      }
    },
    methods: {
      logout() {
        this.$store.dispatch('logout')
      },
      goAdminPage() {
        this.$router.push({ name: 'admin' })
      }
    },
    mounted() {
      axios({
        method: 'get',
        url: 'http://' + ip_address() + '/auth/me/',
        headers: {
          Authorization: 'Token ' + this.$store.state.auth.token
        }
      }).then(response => {
        if (response.data.username == 'shoria' || response.data.username == 'admin') {
          this.iAmAdmin = true
        }
      })
    }
  }

</script>
