<template>

  <v-card>
    <v-card-title>
      <div class="display-1 font-weight-bold">Чаты</div>
      <v-spacer></v-spacer>
    </v-card-title>

    <v-list two-line>
      <template v-for="(item, index) in chats">
            <v-list-tile
                    :key="item.title"
                    avatar
                    ripple
                    @click="toggle(index)"
            >
                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                    <v-list-tile-sub-title>{{ item.name }}</v-list-tile-sub-title>
                </v-list-tile-content>

            </v-list-tile>
            <v-divider
                    v-if="index + 1 < chats.length"
                    :key="index"
            ></v-divider>
        </template>
    </v-list>
  </v-card>

</template>

<script>

  export default {
    name: 'listChat',
    computed: {
      chats() {
        return this.$store.getters.chats
      }
    },
    mounted() {
      this.$store.dispatch('loadChats')
    }
  }

</script>

<style>
</style>
