<template>

  <v-card>
    <v-card-title class="headline grey lighten-2"> Добавление реплики </v-card-title>
    <v-card-text>
      <v-layout row>
        <v-flex xs12>
          <span class="name-text">Имя автора</span>
          <v-select :items="availableAuthors"
                    item-text="fio_field"
                    item-value="id"
                    v-model="userId"
                    color="black"></v-select>
        </v-flex>

      </v-layout>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="$emit('cancel')">Отмена</v-btn>
      <v-btn @click="saveReplic">Сохранить</v-btn>
    </v-card-actions>
  </v-card>

</template>
<script>

  const axios = require('axios')
  import ip_address from '@/ip_address.js'

  export default {
    data() {
      return {
        urlMedia: 'http://' + ip_address(),
      }
    },
    methods: {
      saveReplic() {
        var data = new FormData()
        data.append('paper_id', this.paperId)
        data.append('user_id', this.userId)
        data.append('type', 'coauthor')
        axios({
          method: 'post',
          url: 'http://' + ip_address() + '/api/v1/paper/authorship/',
          headers: { Authorization: 'Token ' + this.$store.state.auth.token },
          data: data
        }).then(response => {
          // this.$emit('done')
        })
      }
    }
  }

</script>

<style> </style>
