<template>

  <div>
    <v-card>
      <v-card-title>
        <div class="display-1 font-weight-bold">Реплики</div>
        <v-spacer></v-spacer>
        <v-btn fab small color="green" @click="dialog = true">
          <v-icon>add</v-icon>
        </v-btn>

      </v-card-title>

    </v-card>

    <v-dialog v-model="dialog" width="500">
      <addReplicaDialog v-on:cancel="dialog = false"></addReplicaDialog>
    </v-dialog>
  </div>

</template>

<script>

  import AddReplicaDialog from './AddReplicaDialog'

  export default {
    name: 'listReplics',
    components: {
      addReplicaDialog: AddReplicaDialog
    },
    data() {
      return {
        dialog: false
      }
    },
    methods: {
    },
    mounted() {
      this.$store.dispatch('loadReplics')
    }
  }

</script>

<style>


</style>
